.cv-body-global {
    margin-top: 40px;
    margin-left: 520px;
    margin-right: 50px;    
    position: relative;
}

.accord-head :hover {
    color: #7FC5FF
}

.toolbar-head {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 3;
}

/* recherche position globale
.label-filter {
    margin-left: 150px;
    margin-bottom: 150px;
    position: absolute;
} */