<a href="https://www.linkedin.com/in/melman-carol" target="_blank">
    <button mat-fab color="success" class="btn-link-in animate__animated animate__fadeInLeft mat-elevation-z8"></button>
</a>

<a href="https://twitter.com/MelMCarol" target="_blank">
    <button mat-fab color="success" class="btn-link-tw animate__animated animate__fadeInLeft mat-elevation-z8"></button>
</a>

<a href="https://www.facebook.com/lepetitmelman" target="_blank">
    <button mat-fab color="success" class="btn-link-fb animate__animated animate__fadeInLeft mat-elevation-z8"></button>
</a>

<button mat-fab color="success" class="btn-return-home choice-color animate__animated animate__zoomIn mat-elevation-z8" [routerLink]="['/home']">
    <mat-icon>logout</mat-icon>
</button>
